* {
  box-sizing: border-box;
}
p {
  font-weight: 500;
  font-size: 20px;
  font-style: oblique;
  padding: 10px;
  max-width: 100%;
}
.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-color: #caebf1;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px #d4d5d8;
  max-width: 100%;
  padding: 20px;
  margin: 20px;
  min-height: 100vh;
}
.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}
h1 {
  background-color: #c7f6ff;
  max-width: 90vw;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 0px 2px #b4e7f1;
}
.welcome-note {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}
.input-container {
  background-color: #c1f0f8;
  box-shadow: 0px 4px 0px 2px #b4e7f1;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 97%;
}
.file-input {
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  font-size: 16px;
  margin: 10px;
}

.file-input:hover {
  border-color: #aaa;
}

.file-input:focus {
  border-color: #007bff;
  outline: none;
}

.file-input::file-selector-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-input::file-selector-button:hover {
  background-color: #0056b3;
}

.analyse-btn {
  background-color: #b4e7f1;
  border: black 1px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  margin: 15px;
}
.analyse-btn:hover {
  background-color: #007bff;
  font-size: 15px;
}
.uploaded-image {
  height: 200px;
  width: 300px;
  width: 90%;
}

.result-top-line {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.res-labels-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.res-label {
  border: #aaa 1px solid;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.res-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  list-style-type: none;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 10px;
  box-shadow: 0px 4px 0px 4px #c1f0f8;
  border-radius: 10px;
  padding: 10px;
  height: 400px;
}
.res-image {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
.image-alt {
  font-weight: 500;
}
.err-msg {
  color: red;
}
.retry-btn {
  color: black;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.loader {
  margin: 15px;
}
@media (max-width: 660px) {
  .input-container {
    max-width: 100%;
  }
  .main-container {
    flex-direction: column;
  }
  .res-images-container {
    display: flex;
    flex-direction: row;
  }
  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .res-images-container {
    flex-direction: column;
  }
  .image-container {
    width: 100%;
    height: 350px;
    box-shadow: none;
  }
  .result-top-line {
    font-size: 17px;
    text-align: center;
    max-width: 80%;
  }
  .last-para {
    position: relative;
    top: -35px;
  }
  .image-alt {
    font-size: 15px;
  }
}
@media (min-width: 670px) {
  .image-container {
    box-shadow: 0px 4px 0px 4px #c1f0f8;
    background-color: #b4e7f1;
    width: 30%;
  }
  .image-alt {
    font-weight: 500;
    width: 100%;
  }
}
